@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 60rem;
}

.bio {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-family: 'Montserrat', sans-serif;
}

.about-title {
    font-size: 7rem;
    letter-spacing: .3rem;
	font-family: 'Big Shoulders Stencil Display', cursive;
}

.about-flicker {
    animation: letter-flicker 4s linear infinite;

}

.about-space {
    padding: .9rem;
}

.about {
    display: inline-block;
}

.about-effect {
    position: relative;
    animation: bounce .3s linear 20 alternate both;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    letter-spacing: .3rem;
    margin-right: 1rem;
    margin-left: 1rem ;
}

.about-bounce-one {
    animation-delay: .1s;
}

.about-bounce-two {
    animation-delay: .2s;
}

.about-bounce-three {
    animation-delay: .3s;
}

@keyframes bounce {
    from {
      transform: translate(0, 0, 0);
      }
    to {
        transform: translate3d(0, -15px, 0);
      }
  }

.words {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

@media (max-width: 750px) {
    .about-container {
        line-height: 26px;
        letter-spacing: 1.5px;
    }

    .bio {
        font-size: 12px;
    }

    .words {
        letter-spacing: 2px;
        margin-right: 20px; 
        font-size: 10px;
    }
}

/* Media Queries Max - Width 750, 900, 1000*/
@media screen and (min-width: 750px) and (max-width: 900px) and (max-width: 1000px){
    span.words {
        display: none;
    }
}