.about-container {
    line-height: 40px;
    letter-spacing: 3px;
    position: absolute;
    top: 20%;
    left: 50%;
}

.bio {
    text-align: center;
    font-size: 15px;
}

.about-paragraph {
    position: relative; 
    top: 50%;
    right: 50%;
}

.about-description {
    position: absolute;
    display: flex;
    text-align: center;
    top: 50%;
    right: 50%;
    margin-top: 20%;
}

.words {
    letter-spacing: 5px;
    padding: 20px;
    text-transform: uppercase;
}

@media (max-width: 750px) {
    .about-container {
        line-height: 26px;
        letter-spacing: 1.5px;
    }

    .bio {
        font-size: 12px;
    }

    .words {
        letter-spacing: 2px;
        margin-right: 20px; 
        font-size: 10px;
    }
}

/* Media Queries Max - Width 750, 900, 1000*/
@media screen and (min-width: 750px) and (max-width: 900px) and (max-width: 1000px){
    span.words {
        display: none;
    }
}