/* .form {
    display: flex;
    justify-content: center;
    margin: 90px auto;
} */

input, textarea {
    border-radius: 8px;
    border: .5px solid black;
    /* font-family: 'Courier New', Courier, monospace; */
    /* padding: 5px 5px 5px 5px; */
    
}

.form-container {
    width: 500px;
    height: 500px;
    border: .2px solid white;
    padding: 30px 30px 30px 30px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    margin: 90px auto;
    align-items: center;
    border-radius: 8px;
}

input {
    display: flex;
    margin: 10px 10px 10px 10px;
    letter-spacing: 4px;
    width: 400px;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    /* border: .2 solid black; */
}


.form-message {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin: 20px 20px 20px 20px; */
    letter-spacing: 4px;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
}
/*  */
/* label { */
    /* letter-spacing: 4px; */
/* } */

.form-submit-button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    border: .2px solid orangered;
    background-color: orangered;
    color: white;
    display: flex;
    /* align-content: center; */
    justify-content: center;
}

button:hover {
    cursor: pointer;
    /* padding: 10px 10px 10px 10px; */
}


