/* Component Container */
.navbar-container {
    left: 0;
    top: 0;
    position: fixed;
    background-color: yellow;
    width: 100%;
    padding: 15px;
    /* margin: 15px ; */
    z-index: 1;
}

/* Logo Animation */
.logo-animation {
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 50px;
    position: absolute;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(100px);
         }
    80% {
        transform: translateX(-10px);
         }
    100%{
        opacity: 1;
        transform: translate(0);
          }
}

/* Logo */
.logo {
    margin-right: 5px;
}

/* Navigation Links */
.links {
    float: right;
    padding-right: 100px; 
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
}

/* Media Queries Max - Width 750, 900, 1000*/
@media screen and (min-width: 750px) and (max-width: 900px) and (max-width: 1000px){
    body {
        /* letter-spacing: 1.5px; */
        /* padding-right: 50px; */
        font-size: 8.5px;
    }
}

