.card {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-container {
    outline: none;
    padding: 16px 16px 16px 16px;
    width: 48ch;
    height: 48ch;
    text-align: center;
}

.card-container {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background-color: purple;
}

.card-container:hover {
    transform: rotateY(180deg);
}

.front-side {
    backface-visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shapes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-small-circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-top: 15%;
} 

.card-triangle {
    width: 0;
    height: 0;
    margin-top: 66%;
    border-left: 198px solid transparent;
    border-right: 198px solid transparent;
    border-bottom: 348px solid #fa26a0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    position: absolute;
    z-index: -1;
}

.card-right-triangle {
   position: absolute;
   padding: 0;
   margin: 0;
   z-index: -1;
   margin-top: 53.1%;
   width: 0;
   height: 0;
   border-left: 1px solid transparent;
   border-right: 398px solid transparent;
   border-bottom: 398px solid #3268a9;
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
}

.card-large-circle {
    width: 200px;
    height: 200px;
    background-color: #f57371;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 46%;
    margin-right: 30%;
}

.backside {
    backface-visibility: hidden;
    overflow: hidden;
    background-color: whitesmoke;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12.5px;
    line-height: 20.5px;
    letter-spacing: 1.5px;
    width: 100%;
    height: 100%;
}

.card-title {
    text-transform: uppercase;
    padding: 12px 12px;
    letter-spacing: 4.5px;
    font-size: 16px;
}

.card-summary {
    letter-spacing: 1.5px;
    font-size: 12px;
    padding: 10px 10px;
}

.card-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-icons {
    padding: 40px 40px;
} 

.heading-title {
    align-items: center;
    justify-content: center;
    position: absolute;
    color: black;
    letter-spacing: 4px;
}
 













































































































































