.project-container {
   display: grid;
   grid-template-columns: repeat(3, 24rem);
   grid-template-rows: repeat(2, 22rem);
   grid-gap: 5rem;
   padding: 3rem 3rem;
   margin: 5rem 5rem;
   justify-content: center;
   display: center;
   font-family: 'Montserrat', sans-serif;
}

.project-container-one,
.project-container-two,
.project-container-three,
.project-container-four,
.project-container-five,
.project-container-six {
    text-align: center;
    padding: .3rem 1rem;
    border: .3rem solid gray;
}

.project-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
    padding: .1rem 1rem;
}

.image-coming-soon {
    height: 12rem;
    width: 20.8rem;
    background-color: black;
    color: white;
    font-weight: bolder;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    letter-spacing: .1rem;
    /* writing-mode: use-glyph-orientation;
    text-orientation: upright; */

}

.wyneats-image {
    height: 12rem;
    width: 20.8rem;
}

.project-summary {
    text-align: left;
    font-size: .6rem;
    padding: .1rem .1rem;
}

.links {
    padding-right: .8rem;
    padding-left: .8rem;
    text-decoration: none;
    color: black;
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.project-container-one {
    grid-column: 1;
    grid-row: 1;
}

.project-container-two {
    grid-column: 2;
    grid-row: 1;
}

.project-container-three {
    grid-column: 3;
    grid-row: 1;
}

.project-container-four {
    grid-column: 1;
    grid-row: 2;
}


.project-container-five  {
    grid-column: 2;
    grid-row: 2;
}

.project-container-six  {
    grid-column: 3;
    grid-row: 2;
}