.project-container {
    position: relative;
    padding: 0;
    height: 500px;
    width: 970px;
    background-color: white;
    border: 1px solid white;
    margin: 55px auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.image-container {
   float: left;
   margin: 10px 10px 10px 10px;
}

.project-image {
    position: absolute;
    height: 480px;
    width: 400px;
    text-align: center;
    padding: 10px 10px 10px 10px; 
}

.project-right-side {
    float: right;
    margin: 30px 30px 30px 30px;
    height: 370px;
    width: 440px;
}

.project-title {
    letter-spacing: 10px;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.project-separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border: .2px solid black;
}

.project-summary {
    position: absolute;
    line-height: 40px;
    width: 440px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    float: right;
    letter-spacing: 1.5px;
    font-size: 14.5px;
    text-align: center;

}

.project-footer {
    letter-spacing: 1.5px;
    padding-left: 130px;
    position: absolute;
    bottom: 90%;
    top: 90%;
}

.footer {
    color: black;
    margin-right: 10px;
    font-size: 12px;
    display: inline-block;
}

.footer-links {
    padding-right: 70px;
    font-size: 10px;
 
    text-transform: uppercase;
    color: black;
    display: inline-block;
  
}
