.footer-container {
    left: 0;
    bottom: 0;
    position: fixed;
    padding: 15px;
    background-color: yellow;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.rights {
    float: left;
    padding-left: 30px;
    letter-spacing: 5px;
}

.icons {
    float: right;
    margin-right: 160px;
    font-size: 25px;
}

.footer-linkedin-in {
    color: #1b6ca8;
    background-color: white;
}
    
.footer-github {
    color: black;
}

.footer-twitter {
    color: skyblue;
}

/* @media (max-width: 750px) and (max-width: 900px) and (max-width: 1000px){
     {
       
    }

} */