.footer-container {
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    justify-content: center;
    background-color: yellow;
    /* z-index: -1; */
}

.copy-rights {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13.5px;
    padding-right: 100px;
    padding-left: 100px;
}

a {
    padding-right: 100px;
    padding-left: 100px;
}

/* @media (max-width: 750px) and (max-width: 900px) and (max-width: 1000px){
     {
       
    }

} */