footer {
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    z-index: 100;
    padding: .2rem;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

.copy-rights {
    text-transform: uppercase;
    letter-spacing: .08px;
    font-size: .84rem;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    footer {
        display: none;
    }
}